<ion-header [@vSliding]="tabs.animation(4)">
  <ion-toolbar mode="md">
    <ion-title>notification</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/search" routerDirection="forward">
        <ion-icon src="assets/icon/reload.svg" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment scrollable="true" mode="md" (ionChange)="segmentChanged($event)" [(ngModel)]="selectedContent">
    <ion-segment-button value="0" mode="md" checked>
      <ion-label><b>All</b></ion-label>
    </ion-segment-button>
    <ion-segment-button value="1" mode="md">
      <ion-label><b>Socials</b></ion-label>
    </ion-segment-button>
    <ion-segment-button value="2" mode="md">
      <ion-label><b>Messages</b></ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [@vSliding]="tabs.animation(4)">
  <ion-slides (ionSlideDidChange)="sliderChanged($event)">
    <ion-slide>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <ion-list>
              <ion-item lines="full" detail="false" routerDirection="forward" routerLink="/tabs/notification/notification-detail">
                <ion-icon src="assets/icon/envelope.svg" class="ion-margin-end"></ion-icon>
                <ion-label class="ion-text-wrap unread">
                  <h3>Welcome to Sasbuzz</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisi...</p>
                </ion-label>
              </ion-item>
              <ion-item lines="full" detail="false" routerDirection="forward" routerLink="/tabs/notification/find-friend/friend-profile">
                <ion-icon src="assets/icon/user-1.svg" class="ion-margin-end"></ion-icon>
                <ion-label class="ion-text-wrap">
                  <h3>John Doe likes #space news</h3>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <ion-list>
              <ion-item lines="full" detail="false" routerDirection="forward" routerLink="/tabs/notification/find-friend/friend-profile">
                <ion-icon src="assets/icon/user-1.svg" class="ion-margin-end"></ion-icon>
                <ion-label class="ion-text-wrap">
                  <h3>John Doe likes #space news</h3>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <ion-list>
              <ion-item lines="full" detail="false" routerDirection="forward" routerLink="/tabs/notification/notification-detail">
                <ion-icon src="assets/icon/envelope.svg" class="ion-margin-end"></ion-icon>
                <ion-label class="ion-text-wrap unread">
                  <h3>Welcome to Sasbuzz</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisi...</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
<!--    <ion-slide>-->
<!--      <ion-grid>-->
<!--        <ion-row>-->
<!--          <ion-col size="10" offset="1" class="ion-text-center">-->
<!--            <img src="assets/icon/empty-notification.svg" alt="logo empty" class="empty-box">-->
<!--            <h2><b>Belum ada notifikasi</b></h2>-->
<!--            <p>Semua notifikasi tentang langgananmu akan muncul disini.</p>-->
<!--          </ion-col>-->
<!--        </ion-row>-->
<!--      </ion-grid>-->
<!--    </ion-slide>-->
  </ion-slides>

  <ion-fab vertical="bottom">
    <ion-button expand="block" shape="round" color="secondary" routerLink="/tabs/notification/find-friend" routerDirection="forward">
      <ion-icon slot="start" src="assets/icon/user.svg"></ion-icon>
      <ion-label>Cari Teman</ion-label>
    </ion-button>
  </ion-fab>
</ion-content>
