<ion-header [@vSliding]="tabs.animation(3)">
  <ion-toolbar mode="md">
    <ion-title>explore</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/search" routerDirection="forward">
        <ion-icon src="assets/icon/reload.svg" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar mode="ios"></ion-searchbar>
  <ion-segment scrollable="true" mode="md" (ionChange)="segmentChanged($event)" [(ngModel)]="selectedContent">
    <ion-segment-button value="0" mode="md" checked>
      <ion-label><b>Rekomendasi</b></ion-label>
    </ion-segment-button>
    <ion-segment-button value="1" mode="md">
      <ion-label><b>Terpopuler</b></ion-label>
    </ion-segment-button>
    <ion-segment-button value="2" mode="md">
      <ion-label><b>Teknologi</b></ion-label>
    </ion-segment-button>
    <ion-segment-button value="3" mode="md">
      <ion-label><b>Desain</b></ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [@vSliding]="tabs.animation(3)">
  <ion-slides (ionSlideDidChange)="sliderChanged($event)">
    <ion-slide *ngFor="let item of items">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <div class="following-item" (click)="gotoPage('/tabs/explore/article')">
              <img src="assets/images/category1.jpg" alt="category image">
              <div class="caption ion-padding"><b>Sky News</b></div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="following-item" (click)="gotoPage('/tabs/explore/article')">
              <img src="assets/images/category2.jpg" alt="category image">
              <div class="caption ion-padding"><b>The Guardian</b></div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="following-item" (click)="gotoPage('/tabs/explore/article')">
              <img src="assets/images/category3.jpg" alt="category image">
              <div class="caption ion-padding"><b>Metro UK</b></div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="following-item" (click)="gotoPage('/tabs/explore/article')">
              <img src="assets/images/category4.jpg" alt="category image">
              <div class="caption ion-padding"><b>The Evening Standard</b></div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="following-item" (click)="gotoPage('/tabs/explore/article')">
              <img src="assets/images/category5.jpg" alt="category image">
              <div class="caption ion-padding"><b>Independen.ie</b></div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="following-item" (click)="gotoPage('/tabs/explore/article')">
              <img src="assets/images/feed.jpg" alt="category image">
              <div class="caption ion-padding"><b>The Daily Edition (UK)</b></div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
