<div class="background">
  <img src="assets/images/login-background.jpg" alt="">
</div>
<ion-content class="ion-padding-top">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <img src="assets/images/logo-sasbuzz-white.png" alt="logo" class="logo">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="login-form">
    <ion-row class="ion-margin-bottom">
      <ion-col size="12" class="ion-padding">
        <form action="">
          <div class="form-group">
            <label>Email</label>
            <input type="email">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password">
          </div>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-padding">
        <ion-button shape="round" color="secondary" expand="block" routerLink="/tabs/home" routerDirection="forward">
          <ion-label>Masuk</ion-label>
        </ion-button>
        <p class="ion-text-center ion-margin-top">
          Belum pernah daftar? <a routerLink="/register" routerDirection="forward"><b>Daftar disini.</b></a>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
