.logo{
  width: 90%;
}
.background{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.background:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(143,208,242,.7);
}

ion-content {
  --background: transparent;
  --padding-top: 25%;
}

.login-form{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
}
