<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/profile" routerDirection="back">
        <ion-icon src="assets/icon/return.svg" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="full" routerLink="account">
      <ion-icon src="assets/icon/settings-1.svg" color="primary" class="ion-margin-end"></ion-icon>
      <ion-label>Account Settings</ion-label>
    </ion-item>
    <ion-item lines="full" routerLink="password">
      <ion-icon src="assets/icon/key.svg" color="primary" class="ion-margin-end"></ion-icon>
      <ion-label>Change Password</ion-label>
    </ion-item>
    <ion-item lines="full" routerLink="/login">
      <ion-icon src="assets/icon/power-button.svg" color="primary" class="ion-margin-end"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
