<ion-header #header [@vSliding]="tabs.animation(currentTab)">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon src="assets/icon/return.svg" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>For You</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content [@vSliding]="tabs.animation(currentTab)">
  <div class="banner" (click)="gotoDetail(id)">
    <img src="assets/images/main-banner.jpg" alt="image banner">
    <div class="caption">#SCIENCE</div>
  </div>
  <ion-grid class="description" (click)="gotoDetail(id)">
    <ion-row>
      <ion-col size="12" class="ion-padding-start ion-padding-end">
        <h2><b>Europe Launches Satellite to Study Alien Worlds</b></h2>
        <p class="muted">space.com &#8226; 23m</p>
        <p class="detail-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam debitis dignissimos et iusto, minima nihil obcaecati praesentium quaerat. Amet, beatae blanditiis corporis facilis ipsum molestias omnis tempore velit voluptas voluptatibus!
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="like-section">
    <ion-row>
      <ion-col size="4" class="ion-text-center">
        <ion-button expand="block" color="light" mode="ios" shape="round">
          <ion-icon src="assets/icon/heart.svg"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-button expand="block" color="light" mode="ios" shape="round">
          <ion-icon src="assets/icon/share.svg"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-button expand="block" color="light" mode="ios" shape="round">
          <ion-icon src="assets/icon/folder.svg"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
