ion-content{
  position: fixed;
  width: 100%;
  height: 100%;
  --overflow: hidden;
}
.muted{
  margin: 0;
  color: var(--ion-color-medium-shade);
}
.description{
  height: calc(60% - 38px);
}
.banner{
  position: relative;
  height: calc(40% - 38px);

  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .caption{
    background: var(--ion-color-secondary);
    color: #fff;
    padding: 7px 10px;
    position: absolute;
    bottom: -7%;
    left: 20px;
  }

  :after{
    content: "";
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid var(--ion-color-secondary-shade);
    border-top: 20px solid transparent;
  }
}

.like-section{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
