<ion-tabs (ionTabsWillChange)="tabs.beActive()">
  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="home" (click)="navGoto(1)">
      <ion-icon src="assets/icon/home.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="following" (click)="navGoto(2)">
      <ion-icon src="assets/icon/heart.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="explore" (click)="navGoto(3)">
      <ion-icon src="assets/icon/compass.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notification" (click)="navGoto(4)">
      <ion-icon src="assets/icon/bell.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" (click)="navGoto(5)">
      <ion-icon src="assets/icon/user-1.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
