<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/notification" routerDirection="back">
        <ion-icon src="assets/icon/return.svg" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Detail Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="assets/images/feed.jpg" alt="" class="ion-margin-bottom">
          <ion-card-content>
            <h2><b>Welcome to Sasbuzz News!</b></h2>
            <p class="date">8 Des '19</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam amet consectetur consequatur debitis dicta distinctio doloremque, eligendi in ipsam iste molestias neque nostrum obcaecati quisquam rerum tenetur voluptate voluptatibus?</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
