<ion-header [@vSliding]="tabs.animation(2)">
  <ion-toolbar mode="md">
    <ion-title>following</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/search" routerDirection="forward">
        <ion-icon src="assets/icon/reload.svg" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar mode="ios"></ion-searchbar>
</ion-header>

<ion-content [@vSliding]="tabs.animation(2)">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div class="following-item" (click)="gotoPage('/tabs/following/article')">
          <img src="assets/images/category1.jpg" alt="category image">
          <div class="caption ion-padding">#<b>Distribusi</b></div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="following-item" (click)="gotoPage('/tabs/following/article')">
          <img src="assets/images/category2.jpg" alt="category image">
          <div class="caption ion-padding">#<b>Periklanan</b></div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="following-item" (click)="gotoPage('/tabs/following/article')">
          <img src="assets/images/category3.jpg" alt="category image">
          <div class="caption ion-padding">#<b>Teknologi</b></div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="following-item" (click)="gotoPage('/tabs/following/article')">
          <img src="assets/images/category4.jpg" alt="category image">
          <div class="caption ion-padding">#<b>Pertanian</b></div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="following-item" (click)="gotoPage('/tabs/following/article')">
          <img src="assets/images/category5.jpg" alt="category image">
          <div class="caption ion-padding">#<b>Perdagangan</b></div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="following-item" (click)="gotoPage('/tabs/following/article')">
          <img src="assets/images/feed.jpg" alt="category image">
          <div class="caption ion-padding">#<b>Marketing</b></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
