<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon src="assets/icon/return.svg" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="profile-data ion-no-margin">
    <ion-item lines="none" class="ion-text-center">
      <ion-avatar>
        <img src="assets/images/man.png" alt="">
      </ion-avatar>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="ion-text-wrap ion-text-center">
        <h2>
          <b>John Doe</b><br>
          <p>@johndoe</p>
        </h2>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-segment scrollable="true" mode="md" (ionChange)="segmentChanged($event)" [(ngModel)]="selectedContent">
    <ion-segment-button value="0" mode="md" checked>
      <ion-label class="ion-text-wrap">
        <p>3</p>
        <h3><b>Magazines</b></h3>
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="1" mode="md">
      <ion-label class="ion-text-wrap">
        <p>6</p>
        <h3><b>Likes</b></h3>
      </ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-slides (ionSlideDidChange)="sliderChanged($event)">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <div class="following-item" (click)="gotoPage('/tabs/profile/article')">
              <img src="assets/images/category1.jpg" alt="category image">
              <div class="caption ion-padding"><b>Tips</b></div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="following-item" (click)="gotoPage('/tabs/profile/article')">
              <img src="assets/images/category2.jpg" alt="category image">
              <div class="caption ion-padding"><b>Horror</b></div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="following-item" (click)="gotoPage('/tabs/profile/article')">
              <img src="assets/images/category3.jpg" alt="category image">
              <div class="caption ion-padding"><b>Teknologi</b></div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <div class="following-item" (click)="gotoPage('/tabs/profile/article')">
              <img src="assets/images/category1.jpg" alt="category image">
              <div class="caption ion-padding">#<b>Distribusi</b></div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="following-item" (click)="gotoPage('/tabs/profile/article')">
              <img src="assets/images/category2.jpg" alt="category image">
              <div class="caption ion-padding">#<b>Periklanan</b></div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="following-item" (click)="gotoPage('/tabs/profile/article')">
              <img src="assets/images/category3.jpg" alt="category image">
              <div class="caption ion-padding">#<b>Teknologi</b></div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="following-item" (click)="gotoPage('/tabs/profile/article')">
              <img src="assets/images/category4.jpg" alt="category image">
              <div class="caption ion-padding">#<b>Pertanian</b></div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="following-item" (click)="gotoPage('/tabs/profile/article')">
              <img src="assets/images/category5.jpg" alt="category image">
              <div class="caption ion-padding">#<b>Perdagangan</b></div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="following-item" (click)="gotoPage('/tabs/profile/article')">
              <img src="assets/images/feed.jpg" alt="category image">
              <div class="caption ion-padding">#<b>Marketing</b></div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
