<ion-header [@vSliding]="tabs.animation(5)">
  <ion-toolbar mode="md">
    <ion-title>profile</ion-title>
    <ion-buttons slot="end">
      <ion-button routerDirection="forward" routerLink="find-friend">
        <ion-icon src="assets/icon/user.svg" color="secondary"></ion-icon>
      </ion-button>
      <ion-button routerDirection="forward" routerLink="settings">
        <ion-icon src="assets/icon/settings-1.svg" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [@vSliding]="tabs.animation(5)">
  <ion-list class="profile-data ion-no-margin">
    <ion-item lines="none" class="ion-text-center">
      <ion-avatar>
        <img src="assets/images/man.png" alt="">
      </ion-avatar>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="ion-text-wrap ion-text-center">
        <h2>
          <b>Muhammad Ilham Hidayat</b><br>
          <p>@hamayat</p>
        </h2>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-segment scrollable="true" mode="md" (ionChange)="segmentChanged($event)" [(ngModel)]="selectedContent">
    <ion-segment-button value="0" mode="md" checked>
      <ion-label class="ion-text-wrap">
        <p>2</p>
        <h3><b>Magazines</b></h3>
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="1" mode="md">
      <ion-label class="ion-text-wrap">
        <p>3</p>
        <h3><b>Likes</b></h3>
      </ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-slides (ionSlideDidChange)="sliderChanged($event)">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <div class="following-item" (click)="gotoPage('/tabs/profile/article')">
              <img src="assets/images/category1.jpg" alt="category image">
              <div class="caption ion-padding"><b>Read Later</b></div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="following-item" (click)="gotoPage('/tabs/profile/article')">
              <img src="assets/images/category2.jpg" alt="category image">
              <div class="caption ion-padding"><b>Tips and Trick</b></div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <div class="following-item" (click)="gotoPage('/tabs/profile/article')">
              <img src="assets/images/category1.jpg" alt="category image">
              <div class="caption ion-padding">#<b>Distribusi</b></div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="following-item" (click)="gotoPage('/tabs/profile/article')">
              <img src="assets/images/category2.jpg" alt="category image">
              <div class="caption ion-padding">#<b>Periklanan</b></div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="following-item" (click)="gotoPage('/tabs/profile/article')">
              <img src="assets/images/category3.jpg" alt="category image">
              <div class="caption ion-padding">#<b>Teknologi</b></div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
