<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon src="assets/icon/return.svg" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Find a Friend</ion-title>
  </ion-toolbar>
  <ion-searchbar mode="ios"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider mode="md">
      <ion-label>Recent</ion-label>
    </ion-item-divider>
    <ion-item lines="full" routerLink="friend-profile" routerDirection="forward" detail="false">
      <ion-avatar class="ion-margin-end">
        <img src="assets/images/man.png" alt="user image">
      </ion-avatar>
      <ion-label>
        <p><b>John Doe</b></p>
        <small>@johndoe</small>
      </ion-label>
    </ion-item>
    <ion-item lines="full" routerLink="friend-profile" routerDirection="forward" detail="false">
      <ion-avatar class="ion-margin-end">
        <img src="assets/images/man.png" alt="user image">
      </ion-avatar>
      <ion-label>
        <p><b>Budi Doremi</b></p>
        <small>@budidoremi</small>
      </ion-label>
    </ion-item>
    <ion-item lines="full" routerLink="friend-profile" routerDirection="forward" detail="false">
      <ion-avatar class="ion-margin-end">
        <img src="assets/images/man.png" alt="user image">
      </ion-avatar>
      <ion-label>
        <p><b>Johnson</b></p>
        <small>@johnson</small>
      </ion-label>
    </ion-item>
    <ion-item lines="full" routerLink="friend-profile" routerDirection="forward" detail="false">
      <ion-avatar class="ion-margin-end">
        <img src="assets/images/man.png" alt="user image">
      </ion-avatar>
      <ion-label>
        <p><b>Lancelot</b></p>
        <small>@lancelot</small>
      </ion-label>
    </ion-item>
    <ion-item lines="none" routerLink="friend-profile" routerDirection="forward" detail="false">
      <ion-avatar class="ion-margin-end">
        <img src="assets/images/man.png" alt="user image">
      </ion-avatar>
      <ion-label>
        <p><b>Alucard Vittae</b></p>
        <small>@alucard_vit</small>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
