<ion-content fullscreen="true" class="ion-justify-content-center ion-align-items-center">
  <ion-slides pager="true">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="10" offset="1">
            <ion-icon src="assets/icon/bell.svg" class="img-feature" color="secondary"></ion-icon>
            <h3><strong>Welcome to Sasbuzz!</strong></h3>
            <p>Get your up to date news every time.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="10" offset="1">
            <ion-icon src="assets/icon/like.svg" class="img-feature" color="secondary"></ion-icon>
            <h3><strong>LIKE FEATURE</strong></h3>
            <p>Customize your news catalog based on your interest.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="10" [offset]="1">
            <ion-icon src="assets/icon/users.svg" class="img-feature" color="secondary"></ion-icon>
            <h2><strong>FRIENDS</strong></h2>
            <p>Get to know what your friend's news list.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="10" [offset]="1">
            <ion-icon src="assets/icon/share.svg" class="img-feature" color="secondary"></ion-icon>
            <h2><strong>SHARE</strong></h2>
            <p>Share your news to other social media platform.</p>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
          <ion-col size="8" offset="2">
            <ion-button shape="round" color="primary" expand="block" routerLink="/login">
              <ion-label>Get Started</ion-label>
              <ion-icon src="assets/icon/play-button.svg" slot="end"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
