/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//additional style
.ion-no-margin-bottom{ margin-bottom: 0;}
.ion-no-margin-start{ margin-left: 0;}
.ion-no-margin-top{ margin-top: 0;}
.ion-no-margin-end{ margin-right: 0;}
.ion-no-padding-bottom{ padding-bottom: 0;}
.ion-no-padding-start{ padding-left: 0;}
.ion-no-padding-top{ padding-top: 0;}
.ion-no-padding-end{ padding-right: 0;}

.ion-text-primary{ color: var(--ion-color-primary) }
.ion-text-secondary{ color: var(--ion-color-secondary) }
.ion-text-success{ color: var(--ion-color-success) }
.ion-text-danger{ color: var(--ion-color-danger) }
.ion-text-warning{ color: var(--ion-color-warning) }
.ion-text-info{ color: var(--ion-color-info) }

ion-header ion-toolbar:last-child{
  --border-width: 0 !important;
}
ion-header ion-toolbar{
  --background: #fff;
  --color: #333;
  text-transform: capitalize;

  ion-title{
    font-weight: 600;
    letter-spacing: 1px;
  }

  ion-button ion-icon{
    font-size: 28px;
  }
}

.header-md:after{
  background-image: unset !important;
}

ion-title{
  font-weight: bold;
}

ion-tab-bar{
  border: none;
  -webkit-box-shadow: -2px -14px 48px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: -2px -14px 48px 1px rgba(0,0,0,0.1);
  box-shadow: -2px -14px 48px 1px rgba(0,0,0,0.1);

  ion-icon.ios{
    font-size: 20px;
  }
}

ion-card{
  background: #fff !important;
  border-radius: 20px !important;
}

ion-button{
  font-family: 'Poppins';
}

ion-segment-button {
  font-family: 'Poppins';

  ion-label{
    font-weight: 300;
  }
}
ion-segment-button.segment-button-checked{
  ion-label{
    font-weight: 800;
  }
}

ion-tab-button.tab-selected{
  border-bottom: 3px solid var(--ion-color-primary) !important;
}

//following item
.following-item{
  height: 170px;
  position: relative;

  img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .caption{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: left;
    -webkit-box-shadow: inset 0px 37px 17px 6px rgba(0,0,0,0.33);
    -moz-box-shadow: inset 0px 37px 17px 6px rgba(0,0,0,0.33);
    box-shadow: inset 0px 37px 17px 6px rgba(0,0,0,0.33);
  }
}

.empty-box{
  width: 50% !important;
}

.form-group{
  margin-bottom: 16px;
  label{
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
  }
  input{
    border: 1px solid #999;
    border-radius: 20px;
    width: 100%;
    padding: 10px 15px;
    outline: none;
  }
}
