<ion-header #header [@vSliding]="tabs.animation(1)">
  <ion-toolbar mode="md">
    <div class="ion-padding ion-text-center img-logo">
      <img src="assets/images/logo-sasbuzz.png" alt="logo sasbuzz">
    </div>
    <ion-segment scrollable="true" mode="md" (ionChange)="segmentChanged($event)" [(ngModel)]="selectedContent">
      <ion-segment-button value="0" mode="md" checked>
        <ion-label><b>For You</b></ion-label>
      </ion-segment-button>
      <ion-segment-button value="1" mode="md">
        <ion-label><b>Terpopuler</b></ion-label>
      </ion-segment-button>
      <ion-segment-button value="2" mode="md">
        <ion-label><b>Teknologi</b></ion-label>
      </ion-segment-button>
      <ion-segment-button value="3" mode="md">
        <ion-label><b>Keuangan</b></ion-label>
      </ion-segment-button>
      <ion-segment-button value="4" mode="md">
        <ion-label><b>Pendidikan</b></ion-label>
      </ion-segment-button>
      <ion-segment-button value="5" mode="md">
        <ion-label><b>Desain</b></ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content #content [@vSliding]="tabs.animation(1)">
  <ion-slides (ionSlideDidChange)="sliderChanged($event)">
    <ion-slide *ngFor="let item of items">
      <div>
        <div class="main-banner" (click)="gotoPage('/tabs/home/article')">
          <img src="assets/images/main-banner.jpg" alt="image banner">
          <div class="caption ion-text-left ion-padding">
            <h2><b>Europe Launches Satellite to Study Alien Worlds</b></h2>
            <p>space.com &#8226; 23m</p>
          </div>
        </div>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <div class="following-item" (click)="gotoPage('/tabs/home/article')">
                <img src="assets/images/category1.jpg" alt="category image">
                <div class="caption ion-padding"><b>Sky News</b></div>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="following-item" (click)="gotoPage('/tabs/home/article')">
                <img src="assets/images/category2.jpg" alt="category image">
                <div class="caption ion-padding"><b>The Guardian</b></div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
