.img-logo {
  padding-top: 20px;
  padding-bottom: 0;

  img {
    width: 150px;
  }
}
p{
  font-weight: 500;
}
.main-banner{
  height: 300px;
  position: relative;

  img{
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .caption{
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
  }
}
ion-segment-button{
  --padding-top: 10px;
  --padding-bottom: 10px;
  ion-label{
    margin: 0;
  }
}
ion-content{
  position: fixed;
  width: 100%;
  height: 100%;
  --overflow: hidden;
}
