<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/profile/settings" routerDirection="back">
        <ion-icon src="assets/icon/return.svg" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <div class="form-group">
              <label for="old-password">Old Password</label>
              <input type="password" id="old-password">
            </div>
            <div class="form-group">
              <label for="new-password">New Password</label>
              <input type="password" id="new-password">
            </div>
            <div class="form-group">
              <label for="confirm-password">Confirm Password</label>
              <input type="password" id="confirm-password">
            </div>
          </ion-card-content>
        </ion-card>
        <div class="ion-padding-start ion-padding-end">
          <ion-button shape="round" expand="block">
            <ion-icon src="assets/icon/checked.svg" slot="start"></ion-icon>
            <ion-label>Save</ion-label>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
